@charset "UTF-8";
/* Only output numerical values
/* 数値のみ出力する
====================================== */
/* font $size
====================================== */
/* font family
====================================== */
/* Break point ブレイクポイント
====================================== */
/* max site width コンテンツ最大幅
====================================== */
/* colors 色管理
====================================== */
/* media query
====================================== */
/* font-size フォントサイズのrem表示用
====================================== */
/* Margin class in 5px steps
/* 余白調整用のクラス　5px刻みで20回処理を繰り返し
====================================== */
.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.com-txt-color-text {
  color: #333333 !important;
}

.com-bg-text {
  color: #333333 !important;
}

.com-txt-color-main {
  color: #56BFC3 !important;
}

.com-bg-main {
  color: #56BFC3 !important;
}

.com-txt-color-danger {
  color: red !important;
}

.com-bg-danger {
  color: red !important;
}

.com-txt-color-white {
  color: #fff !important;
}

.com-bg-white {
  color: #fff !important;
}

.com-txt-color-facebook {
  color: #3b5999 !important;
}

.com-bg-facebook {
  color: #3b5999 !important;
}

.com-txt-color-twitter {
  color: #1da1f2 !important;
}

.com-bg-twitter {
  color: #1da1f2 !important;
}

.com-txt-color-youtube {
  color: #cd201f !important;
}

.com-bg-youtube {
  color: #cd201f !important;
}

.com-txt-color-line {
  color: #18ba07 !important;
}

.com-bg-line {
  color: #18ba07 !important;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "palt";
  font-size: 15px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 2;
  color: #333333;
  font-size: 15px;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Sans JP", sans-serif;
  color: #333333;
  line-height: 1.2;
}

p {
  margin: 0;
}
p + p {
  margin-top: 1em;
}

ul, dl, figure {
  margin: 0;
  padding: 0;
}

dt {
  font-weight: normal;
}

ul, li {
  list-style: none;
}

a {
  color: #333333;
  transition: 0.4s;
}
a:before, a:after {
  transition: 0.4s;
}
a:hover {
  color: #333333;
  text-decoration: none;
}

em {
  font-style: normal;
  font-weight: normal;
  color: inherit;
}

input,
select,
textarea {
  outline: none;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1.0666666667rem;
}

input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=hidden]):not([type=submit]):not([type=reset]):not([type=button]):not([type=image]),
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0.4em;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  font-size: 1rem;
  line-height: 2;
}

address {
  margin-bottom: 0;
}

/* uk-container
====================================== */
.uk-container {
  max-width: 960px;
}
.uk-container-small {
  max-width: 375px;
}
.uk-container-large {
  max-width: 1160px;
}
.uk-container-expand {
  max-width: none;
}

/* Contact Form 7
====================================== */
.wpcf7 .ajax-loader {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

/* reCAPTCHA
====================================== */
.grecaptcha-badge {
  visibility: hidden;
}

/* #header
====================================== */
/* parts
--------------------------------- */
/* #header-offcanvas-btn
--------------------------------- */
/* #header-logo　
--------------------------------- */
/* #header-tel　
--------------------------------- */
/* gnav
====================================== */
/* #lnav
====================================== */
/* #footer
====================================== */
/* footer-logo
====================================== */
/* footer-head
====================================== */
/* footer-body
====================================== */
/* footer-foot
====================================== */
/* parts
====================================== */
/* pagetop
-------------------------------------- */
.pagetop {
  font-size: 10px;
  font-size: 0.6666666667rem;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}

/* footer-nav
-------------------------------------- */
/* .copyright
--------------------------------- */
.copyright {
  display: block;
  font-size: 11px;
  font-size: 0.7333333333rem;
}

.uk-offcanvas-bar {
  background: #fff;
  padding: 0;
}

.uk-nav .uk-nav-header {
  background: #56BFC3;
  padding: 0.5em 1em;
  border-bottom: 0;
}
.uk-nav > li {
  border-bottom: 1px solid #DCDCDC;
}
.uk-nav > li a {
  padding: 0.5em 1em;
  color: #333333 !important;
}
.uk-nav .uk-parent a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E") !important;
  height: 2em !important;
}
.uk-nav .uk-parent.uk-open a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E") !important;
}
.uk-nav .uk-nav-sub {
  background: #F5F5F5;
  padding: 0;
}
.uk-nav .uk-nav-sub li a {
  padding: 0.5em 1em;
  padding-left: 2em;
}
.uk-nav .uk-nav-sub li + li {
  border-top: 1px solid #fff;
}

/*# sourceMappingURL=front-layout.css.map */